.cart {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    width: 500px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  button {
    margin-left: 50px;
    padding: 5px 10px;
    background-color: #ccc;
  }
  