
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: #f2f5fa;
    font-family: 'Poppins' sans-serif;
}
/* Nav Bar */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  background: #f6f6f6;
  align-items: center;
  height: 10vh;
  top: 0;
  position: sticky;
  z-index: 999;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.header .logo
{
  width: 250px;
  padding: 50px;
}
.header .logo img
{
  width: 100%;
}
.header .display-menu {
  display: flex;
}

.header .display-menu .menu {
  margin: 0 10px;
  color: #171717;
  text-decoration: none;
}
.header .display-menu .menu:hover
{
  font-weight: 300;
  color:#ffc62d;
}

.header .icon {
  display: none;
}
.header .toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}


  /* Home */

.slide-mod{
    width: 100%;
    height: 90vh;
    
}
.slick-slider{
    width: 100%;
    height: 85vh;
    padding: 20px;
    
}

.slick-list{
    width: 100%;
    height: 90% !important;
}

.slick-dots{
    width: 100%;
    height: 10vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative !important;
    top: 0;
} 

.slick-list .slick-track .slick-slider > div{
    height: 100% !important;
}


.content
{
    width: 100%;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.left-column
{
   width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.right-column
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #171717;
}
.right-column .product-description
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    font-size: 20px;
}
.right-column .product-description ul
{
    margin-top: 20px;
}
.right-column .product-description ul li
{
    list-style: none;
    margin: 15px 0px;
}

.right-column .product-description .btn
{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    color: #ffc62d;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
}

.about-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background: red; */
    max-width: 100%;
    height: 90vh;
  }
  .about-container h1 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ffc62d;
    margin-top: 20px;
  }
  .about-flex
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  .about-flex img {
    width: 20%;
    height: auto;
  }
  
  .about-flex p {
    width: 50%;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }
  /* products start */
.products{
  width: 100%;
  height: auto;
  padding: 30px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 0;
}
.products h1
{
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;
  line-height: 1;
  color:#ffc62d;
}

.products-div{
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.product-card{
  width: 30%;
  min-height: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.product-card img{
  width: 70%;
}

.product-description{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  
}

/* products end */
  .contact
  {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .contact .contact-form
  {
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      padding: 30px 100px;
      gap: 20px;

  }
  
  .contact-form input[type=text],input[type=email] {
      width: 400px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
    }
    .contact-form textarea {
      width: 800px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: none;
    }
    
  .contact-form input[type=submit] {
      color: #fff;
      font-weight: 600;
      padding: 15px 40px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      text-align: center;
      background: #ffc62d;
      transition: all 0.3s ease;
    }
    .contact .contact-address
  {
      width: 20%;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      padding:0 30px;
      line-height: 30px;
  }
  
/* LOGIN FORM */
.form-container
{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container h1
{
    font-size: 40px;
    font-weight: 600;
    color: #ffc62d;
    margin-bottom: 20px;
}
.form-container p
{
    font-size: 15px;
    font-weight: 400;
    color: #171717;
    margin-top: 20px;
}
.form-container-link
{
    text-decoration: none;
    color: #ffc62d;
    font-weight: 600;
    transition: all 0.3s ease;
}
.form-container-button
{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background: #ffc62d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
}
.form-container form
{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.form-container form input[type=text],input[type=password],input[type=email]
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-container form input[type=submit]
{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background: #ffc62d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form-container form input[type=submit]:hover
{
    background: #fff;
    color: #ffc62d;
}
.footer-container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #171717;
    color: #d8d4d4;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 0%;
    z-index: 999;
}
.footer-container .footer-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f5fa;
    font-weight: 500;
}
.footer-container .footer-logo p
{
    font-size: 20px;
}
.footer-container .footer-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-container .footer-links a
{
    text-decoration: none;
    color: #f2f5fa;
    font-weight: 500;
    transition: all 0.3s ease;
}